body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #d3d3d3, #001f3f);
  background-repeat: no-repeat; /* Just in case */
  background-attachment: fixed;
}

.container {
  text-align: center;
}

.header {
  padding: 20px 0;
}

table {
  border-collapse: separate;
  border-spacing: 25px 15px;  /* horizontal vertical */
}


.header-image {
  background-image: url('https://www.mixonline.com/wp-content/uploads/2021/07/LA_BYU-Idaho_1.jpg'); /* Replace with your image */
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

}

.header-image h1 {
  margin: 0;
  line-height: 0.9;
    font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background: #00000055;
}

.content-box {
  background-color: white;
  margin: 30px auto;
  width: 90%;
  max-width: 900px;
  padding: 40px;
  box-shadow: 5px 5px 0px black;
  min-height: 400px;
}
 
.devo-form { 
  display: flex; 
  flex-direction: column; 
  gap: 12px; 
  margin-top: 20px; 
  text-align: center; 
  width: 300px;
  margin: 0 auto;
} 

.devo-form h2 { 
  margin-bottom: 10px; 
  font-size: 1.6em; 
  text-align: center; 
} 

.devo-form label {
   font-weight: bold;
   } 

  .devo-form input { 
    padding: 10px; 
    border: 1px dashed black; 
    border-radius: 4px; 
    font-size: 1em; 
  } 
  .devo-form button {
     margin-top: 15px; 
     padding: 12px; 
     background-color: white; 
     color: #003366; 
     border: none; 
     border-radius: 4px; 
     font-size: 1.1em; 
     cursor: pointer; 
     transition: 0.2s ease;
     width: 300px;
     }
      
     .devo-form button:hover {
       background-color: #003366;
       color: white;
       }
